# Ignore node_modules since they will be installed inside the container
node_modules
npm-debug.log
yarn-error.log

# Ignore logs
logs
*.log

# Ignore source and test files not needed in the image
#src/
tests/
coverage/

# Ignore environment and configuration files
.env
.env.test
.env.example
.env.*.local

# Ignore Docker ignore file itself and others
.dockerignore
Dockerfile*

# Ignore editor and IDE files
.idea
.vscode
*.swp

# Ignore temporary and cache files
*.tmp
*.cache
.cache

# Ignore build artifacts
dist/
build/