@import "tailwindcss";

.tokens-modal {
  @apply flex flex-col bg-[#0C111D] rounded-lg w-[540px];
}

.tokens-header {
  @apply flex flex-row justify-between py-[12px] px-[20px] border-b-1 border-[#1F242F];
  h3 {
    @apply text-[20px] mb-0;
  }
}

.tokens-content {
  @apply flex flex-col gap-[4px] py-[12px] px-[12px];
}

.button-close {
  @apply flex flex-row justify-between items-center p-[4px] rounded-[8px] cursor-pointer mr-[-2px] relative;
  &:hover {
    @apply bg-[#1F242F];
  }
}

.notification {
  @apply flex flex-row items-start p-[12px] rounded-[8px] gap-[10px] text-left cursor-pointer;
  background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  &[disabled] {
    @apply cursor-default;
  }
  &.warning {
    background: linear-gradient(135deg, #FD371F 0%, #F49062 100%);
  }
  h4 {
    @apply font-bold;
  }
  p {
    @apply text-[13px];
  }
}
